<div class="container">
<div class="row">
        <div class="col-md-12">
<form class="search-form">
                    <h3 class="head1">Github User Search</h3>
            <input class="form-control" type="text" placeholder="Search username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
    </form>
        </div>    
</div>
<div *ngIf="profile" class="page">
    <div class="panel panel-default page1">
        <div class="panel-heading">
           <h3 class="panel-title">{{profile.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 image1">
                        <a target="_blank" href="{{profile.html_url}}"><img class="img-thumbnail" src="{{profile.avatar_url}}" alt="Profile Image"></a>
                        <br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11 list1">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Username: </strong>{{profile.login}}</li>
                                <li class="list-group-item"><strong>Followers: </strong>{{profile.followers}}</li> 
                                <li class="list-group-item"><strong>Email: </strong>{{profile.email}}</li> 
                                <li class="list-group-item"><strong>Repositories: </strong>{{profile.public_repos}}</li> 
                            </ul>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="panel panel-default page1">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Repositories</h3>
                    </div>
                    <div class="panel-body">
                        <div *ngFor="let repo of repos">
                              <div class="row">
                                <div class="col-md-9">
                                <p class="para1">  {{repo.name}}  </p>
                                <br>
                                <p>{{repo.description}}</p>
                                <hr>
                            </div>
                                <div class="col-md-3">
                                        <a href="{{repo.html_url}}" target="_blank" class="btn btn-primary pull">View project on GitHub</a>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
       
