<div class="row">
        <div class="col-md-12">
<form class="search-form">
                    <h3 class="head1">Github User Search</h3>
            <input class="form-control" type="text" placeholder="Search username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
    </form>
        </div>    
</div>
<div *ngIf="profile" class="page">
    <div class="panel panel-default">
        <div class="panel-heading">
           <h3 class="panel-title">{{profile.name}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{profile.avatar_url}}" alt="Profile Image">
                    <a class="btn btn-default btn-block" target="_blank" href="{{profile.html_url}}">View Profile</a>
                </div>
                <div class="col-sm-8">
                        <div class="stats">
                                <span class="label label-default">{{profile.public_repos}} Public Repos</span>
                                <span class="label label-primary">{{profile.public_gists}} Public Gists</span>
                                <span class="label label-success">{{profile.followers}} Followers</span>
                                <span class="label label-info">{{profile.following}} Following</span>
                            </div>
                            <br>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Username: </strong>{{profile.login}}</li>
                                <li class="list-group-item"><strong>Location: </strong>{{profile.location}}</li> 
                                <li class="list-group-item"><strong>Email: </strong>{{profile.email}}</li> 
                                <li class="list-group-item"><strong>Blog: </strong>{{profile.blog}}</li> 
                                <li class="list-group-item"><strong>Member Since: </strong>{{profile.created_at}}</li> 
                            </ul>
                        </div>    
                    </div>
                </div>
            </div>
            <div class="panel panel-default panel1">
                    <div class="panel-heading">
                        <h3 class="panel-title">User Repositories</h3>
                    </div>
                    <div class="panel-body">
                        <div *ngFor="let repo of repos">
                              <div class="row">
                                <div class="col-md-9">
                                <p class="para1">  {{repo.name}}  </p>
                                <br>
                                <p>{{repo.description}}</p>
                                <hr>
                            </div>
                                <div class="col-md-3">
                                        <a href="{{repo.html_url}}" target="_blank" class="btn btn-sm btn-success pull">View this project on GitHub</a>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
       
