.navbar-brand{
    font-family: 'Poppins', sans-serif; 
    margin-left: 55%;
    color: black;
    font-size: 50px;
}
.panel-title{
    font-family: 'Poppins', sans-serif; 
}
.panel1{
    background-color: white;
}