.head1{
    font-family: 'Poppins', sans-serif; 
    color: black;
    font-size: 50px;
    padding-left: 300px;
}
.panel-title{
    font-family: 'Poppins', sans-serif; 
}
.page{
    background-color: #A9C2D0;
    padding: 5%;
}
.para1{
    font-weight: bold;
    font-size: 24px;
}